<form action="/add" method="post">

<h1 style="color: #fff;">Cadastro do produto</h1><br>

<input class="text" type="text" name="name" placeholder="Nome" required=""><br>

<input class="text" type="number" name="amount" placeholder="Quantidade" required=""><br>

<input class="text" type="text" name="description" placeholder="Descrição" required=""><br><br>

<input type="submit" value="Cadastrar Produto">

</form>